* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.time-one, .time-two {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.time-one {
    color: blue;
}

.time-two {
    color: green;
}