*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #008d3d;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 50px;
}

h1 {
    color: white;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    text-shadow: 2px 2px 4px black;
}

button {
    width: 128px;
    height: 50px;
    color: #008d3d;
    font-weight: 900;
    font-style: normal;
    text-shadow: 1px 1px 2px black;
    border: none;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    outline: none;
}